.idea
.vscode
# supports https://github.com/tamago324/nlsp-settings.nvim
/.nlsp-settings
/target
.DS_Store
# developer notes, etc.
/scratch
/deny.toml
# Currently ignored just to leave to developer preference. May be worth a dedicated
# MR to define an approprate default configuration.
# https://github.com/Canop/bacon.
bacon.toml
.rust-ci
# Python related artifacts
**/.venv
**/__pycache__
**/*.pyc
**/*.so
**/uv.lock
# sphinx build artifacts
qcs_api_client_common/docs/build
