[package]
name = "qcs-api-client-common"
version = "0.7.11"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/rigetti/qcs-api-client-rust"
homepage = "https://github.com/rigetti/qcs-api-client-rust"
categories = ["api-bindings", "authentication"]
keywords = ["qcs", "quantum", "rigetti", "api"]
description = "Common code for QCS API clients"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
tracing = ["dep:tracing", "url", "urlpattern"]
tracing-config = ["tracing"]

[dependencies]
async-trait = "0.1"
backoff = { version = "0.4.0", features = ["tokio"] }
futures = "0.3.26"
home = "0.5.5"
http = "0.2.8"
jsonwebtoken = "8.1.1"
reqwest = { version = "0.11.11", default-features = false, features = ["json", "rustls-tls-native-roots", "socks"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.32"
time = { version = "0.3.34", features = ["parsing"] }
tokio = { version = "1.20.1", features = ["fs"] }
toml = "0.7.3"
tracing = { version = "0.1.37", optional = true }
url = { version = "2.3.1", optional = true }
urlpattern = { version = "0.2.0", optional = true }

[dev-dependencies]
rstest = "0.17.0"
serial_test = "2.0.0"
tempfile = "3.3.0"
tokio = { version = "1.20.1", features = ["fs", "macros"] }
