[package]
name = "qcs-api-client-common"
version = "0.2.3"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/rigetti/qcs-api-client-rust"
homepage = "https://github.com/rigetti/qcs-api-client-rust"
categories = ["api-bindings", "authentication"]
keywords = ["qcs", "quantum", "rigetti", "api"]
description = "Common code for QCS API clients"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dirs = "4.0.0"
futures = "0.3.23"
jsonwebtoken = "8.1.1"
reqwest = { version = "0.11.11", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.32"
tokio = { version = "1.20.1", features = ["fs"] }
toml = "0.5.9"

[dev-dependencies]
tempfile = "3.3.0"
tokio = { version = "1.20.1", features = ["fs", "macros"] }
