openapi: 3.0.2
info:
  x-logo: https://qcs.rigetti.com/static/img/rigetti-logo.svg
  contact:
    email: support@rigetti.com
    url: https://rigetti.zendesk.com
  title: Rigetti QCS API
  version: 2020-07-31
  description: >
    # Introduction


    This is the documentation for the Rigetti QCS HTTP API.


    You can find out more about Rigetti at [https://rigetti.com](https://rigetti.com), and also

    interact with QCS via the web at [https://qcs.rigetti.com](https://qcs.rigetti.com).


    This API is documented in **OpenAPI format** and so is compatible with the dozens of

    language-specific client generators available

    [here](https://github.com/OpenAPITools/openapi-generator) and elsewhere on the web.


    # Principles


    This API follows REST design principles where appropriate, and otherwise an HTTP RPC paradigm.

    We adhere to the Google [API Improvement Proposals](https://google.aip.dev/general) where

    reasonable to provide a consistent, intuitive developer experience. HTTP response codes match

    their specifications, and error messages fit a common format.


    # Authentication


    All access to the QCS API requires OAuth2 authentication provided by Okta. You can request

    access [here](https://www.rigetti.com/get-quantum). Once you have a user account, you can download

    your access token from QCS [here](https://qcs.rigetti.com/auth/token). 


    That access token is valid for 24 hours after issuance. The value of `access_token` within the

    JSON file is the token used for authentication (don't use the entire JSON file).


    Authenticate requests using the `Authorization` header and a `Bearer` prefix:


    ```

    curl --header "Authorization: Bearer eyJraW...Iow"

    ```


    # Quantum Processor Access


    Access to the quantum processors themselves is not yet provided directly by this HTTP API, but

    is instead performed over ZeroMQ/[rpcq](https://github.com/rigetti/rpcq). Until that changes,

    we suggest using [pyquil](https://github.com/rigetti/pyquil) to build and execute quantum

    programs via the Legacy API.


    # Legacy API


    Our legacy HTTP API remains accessible at https://forest-server.qcs.rigetti.com, and it shares

    a source of truth with this API's services. You can use either service with the same user

    account and means of authentication. We strongly recommend using the API documented here, as the

    legacy API is on the path to deprecation.
servers:
  - description: Rigetti API
    url: https://api.qcs.rigetti.com
tags:
  - description: Internal Rigetti administrative Access
    name: internal
    x-displayName: Internal
  - description: Legacy routes and objects
    name: legacy
    x-displayName: Legacy
  - description: The Quantum Processor is the heart of the Rigetti services.
    name: quantumProcessors
    x-displayName: Quantum Processors
  - description: The Endpoint is the means of access to a Quantum Processor.
    name: endpoints
    x-displayName: Quantum Processor Endpoints
  - description: The Engagement is the authorization mechanism for access to the
      Quantum Processor.
    name: engagements
    x-displayName: Engagements
  - description: |
      Translation is the process of transforming Quil into programs ready 
      for execution on a Quantum Processor.
    name: translation
    x-displayName: Translation
  - name: account
    x-displayName: Account
  - name: authentication
    x-displayName: Authentication
  - description: Check for the latest SDK versions.
    name: clientApplications
    x-displayName: SDK Versions
  - description: Find existing time on a Rigetti QPU and reserve it.
    name: reservations
    x-displayName: Reservations
  - name: filterParameter
    description: <SchemaDefinition schemaRef="#/components/schemas/Filter" />
    x-displayName: Filter Parameter
  - name: orderParameter
    description: <SchemaDefinition schemaRef="#/components/schemas/Order" />
    x-displayName: Order Parameter
  - name: errors
    description: >
      All service errors conform to the below schema.


      <SchemaDefinition schemaRef="#/components/schemas/Error" />


      `code` conforms to the conventional HTTP status code, but offers more granularity.


      | Code                                | HTTP Status Code | Notes                                                                               |

      |-------------------------------------|------------------|-------------------------------------------------------------------------------------|

      | unauthorized                        | 401              | If your token expires, we will return a 401 and you should refresh it accordingly\. |

      | forbidden                           | 403              |                                                                                     |

      | not\_found                          | 404              |                                                                                     |

      | insufficient\_payment               | 402              | Insufficient funds are available to book the reservation\.                          |

      | reservation\_unavailable            | 409              | The requested reservation time is not available\.                                   |

      | invalid\_input                      | 422              |                                                                                     |

      | invalid\_password\_reset\_token     | 422              |                                                                                     |

      | invalid\_email\_verification\_token | 422              |                                                                                     |


      Additionally, errors returned with code `invalid_input` *may* include additional detail under the `validationErrors`

      attribute. Note, not all validation errors will specify a `path`, but they will contain a message. Please heed those

      messages *in addition to* the top level error message.


      <SchemaDefinition schemaRef="#/components/schemas/ValidationError" />
    x-displayName: ""
x-tagGroups:
  - name: Account Management
    tags:
      - account
      - authentication
  - name: QPU Access
    tags:
      - endpoints
      - engagements
      - quantumProcessors
      - reservations
      - translation
  - name: SDKs
    tags:
      - clientApplications
  - name: Filtering and ordering
    tags:
      - filterParameter
      - orderParameter
  - name: Errors
    tags:
      - errors
paths:
  /:
    get:
      description: Retrieve the health status of the API
      operationId: GetHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
          description: Critical services are healthy.
  /v1/:
    get:
      deprecated: true
      description: Endpoint to return a status 200 for load balancer health checks
      operationId: HealthCheckDeprecated
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      summary: Health Check
  /v1/endpointTemplates:
    get:
      description: List all templates available for use in endpoint construction.
      operationId: ListEndpointTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEndpointTemplatesResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: List Endpoint Templates
      tags:
        - endpoints
        - internal
  /v1/endpoints:
    get:
      description: List all endpoints, optionally filtering by attribute.
      operationId: ListEndpoints
      parameters:
        - description: Filtering logic specified using
            [rule-engine](https://zerosteiner.github.io/rule-engine/syntax.html)
            grammar
          in: query
          name: filter
          required: false
          schema:
            description: Filtering logic specified using
              [rule-engine](https://zerosteiner.github.io/rule-engine/syntax.html)
              grammar
            title: Filter
            type: string
        - in: query
          name: pageSize
          required: false
          schema:
            default: 10
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEndpointsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: List Endpoints
      tags:
        - endpoints
    post:
      description: Create an endpoint associated with your user account.
      operationId: CreateEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEndpointParameters"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Endpoint"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Create Endpoint
      tags:
        - endpoints
  "/v1/endpoints/{endpointId}":
    delete:
      description: Delete an endpoint, releasing its resources. This operation is not
        reversible.
      operationId: DeleteEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            title: Endpoint ID
            type: string
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Delete Endpoint
      tags:
        - endpoints
    get:
      description: Retrieve a specific endpoint by its ID.
      operationId: GetEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            title: Endpoint ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Endpoint"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Get Endpoint
      tags:
        - endpoints
  "/v1/endpoints/{endpointId}:restart":
    post:
      description: Restart an entire endpoint or a single component within an endpoint.
      operationId: RestartEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            title: Endpoint ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestartEndpointRequest"
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Restart Endpoint
      tags:
        - endpoints
  /v1/engagements:
    post:
      description: >-
        Create a new engagement using the specified parameters.


        At least one of the following parameters must be supplied:

        - **endpointId**: The ID of the endpoint on which to engage.

        - **quantumProcessorId**: The ID of the quantum processor on which to engage, allowing the
            service to select a default endpoint. Ignored if **endpointId** is set.
      operationId: CreateEngagement
      parameters:
        - description: Either the client's user ID or the name of a group on behalf of
            which the client wishes to engage. May be overriden by accountId set
            in body.
          in: header
          name: x-qcs-account-id
          required: false
          schema:
            description: Either the client's user ID or the name of a group on behalf of
              which the client wishes to engage. May be overriden by accountId
              set in body.
            title: X-Qcs-Account-Id
            type: string
        - description: Indicates whether the engagement request should be made for the
            user or on behalf of a group. May be overriden by accountType set in
            body.
          in: header
          name: x-qcs-account-type
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/AccountType"
            description: Indicates whether the engagement request should be made for the
              user or on behalf of a group. May be overriden by accountType set
              in body.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEngagementRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EngagementWithCredentials"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Validation error
        "503":
          description: Endpoint is temporarily unavailable, try again later.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
      security:
        - JWTBearer: []
      summary: Create Engagement
      tags:
        - engagements
  /v1/healthcheck:
    get:
      description: Endpoint to return a status 200 for load balancer health checks
      operationId: HealthCheck
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      summary: Health Check
  /v1/instructionSetArchitectures:
    get:
      description: Retrieve all Instruction Set Architectures available to the user.
      operationId: ListInstructionSetArchitectures
      parameters:
        - in: query
          name: pageSize
          required: false
          schema:
            default: 5
            exclusiveMinimum: 0
            maximum: 5
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInstructionSetArchitectureResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: List Instruction Set Architectures
      tags:
        - quantumProcessors
  /v1/internal/endpoints:
    get:
      description: List all endpoints, optionally filtering by attribute.
      operationId: InternalListEndpoints
      parameters:
        - description: Filtering logic specified using
            [rule-engine](https://zerosteiner.github.io/rule-engine/syntax.html)
            grammar
          in: query
          name: filter
          required: false
          schema:
            description: Filtering logic specified using
              [rule-engine](https://zerosteiner.github.io/rule-engine/syntax.html)
              grammar
            title: Filter
            type: string
        - in: query
          name: pageSize
          required: false
          schema:
            default: 10
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalListEndpointsResponse"
          description: Successful Response
        "422":
          description: Provided parameters were invalid.
      security:
        - JWTBearer: []
      summary: List Endpoints
      tags:
        - endpoints
        - internal
    post:
      description: >-
        Create an endpoint associated with your user account. Unlike the public
        route, these endpoints may

        use a production template and set any engagement policy.
      operationId: InternalCreateEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalCreateEndpointParameters"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalEndpoint"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Create Endpoint
      tags:
        - endpoints
        - internal
  "/v1/internal/endpoints/{endpointId}":
    delete:
      deprecated: true
      description: Delete an endpoint, releasing its resources. This operation is not
        reversible.
      operationId: InternalDeleteEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            title: Endpoint ID
            type: string
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Delete Endpoint
      tags:
        - endpoints
        - internal
    get:
      description: Retrieve a specific endpoint by its ID.
      operationId: InternalGetEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            title: Endpoint ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalEndpoint"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Get Endpoint
      tags:
        - endpoints
        - internal
    patch:
      description: Trigger a sync operation on the endpoint, updating it to the latest
        configuration.
      operationId: InternalUpdateEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            title: Endpoint ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalUpdateEndpointParameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalEndpoint"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Update Endpoint
      tags:
        - endpoints
        - internal
    put:
      description: Completely replace the configuration of an endpoint by its ID,
        whether or not it already exists.
      operationId: InternalPutEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            title: Endpoint ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalUpdateEndpointParameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalEndpoint"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Put Endpoint
      tags:
        - endpoints
        - internal
  "/v1/internal/endpoints/{endpointId}/engagements":
    get:
      description: List all currently-active engagements by all users on an endpoint
      operationId: InternalListEndpointEngagements
      parameters:
        - description: Unique, opaque identifier for the endpoint
          in: path
          name: endpointId
          required: true
          schema:
            description: Unique, opaque identifier for the endpoint
            title: Endpoint ID
            type: string
        - in: query
          name: pageSize
          required: false
          schema:
            default: 10
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEndpointEngagementsResponse"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal List Endpoint Engagements
      tags:
        - internal
        - engagements
        - quantumProcessors
  /v1/internal/legacy/lattices:
    get:
      deprecated: true
      description: Retrieve all legacy (Forest Server) lattices available to the user.
      operationId: InternalListLegacyLattices
      parameters:
        - description: Whether to hide specifications for qubits and edges marked as "dead"
          in: query
          name: mask_specifications_to_isa
          required: false
          schema:
            default: true
            description: Whether to hide specifications for qubits and edges marked as
              "dead"
            title: Mask Specifications to ISA
            type: boolean
        - in: query
          name: pageSize
          required: false
          schema:
            default: 10
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalListLegacyLatticesResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal List Legacy Lattices
      tags:
        - legacy
        - quantumProcessors
  "/v1/internal/legacy/lattices/{quantumProcessorId}":
    get:
      deprecated: true
      description: >-
        Retrieve a legacy lattice by name. Provided for Forest Server
        deprecation only. Note that it

        makes the key assumption that the legacy device/quantum processor has exactly one full-chip

        lattice by the same name.


        In practice, this retrieves the LegacyQuantumProcessor and then converts it to the lattice

        schema.
      operationId: InternalGetLegacyLattice
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
        - description: Whether to hide specifications for qubits and edges marked as "dead"
          in: query
          name: mask_specifications_to_isa
          required: false
          schema:
            default: true
            description: Whether to hide specifications for qubits and edges marked as
              "dead"
            title: Mask Specifications to ISA
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyLattice"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Get Legacy Lattice
      tags:
        - legacy
        - quantumProcessors
  /v1/internal/legacy/quantumProcessors:
    get:
      deprecated: true
      description: >-
        Retrieve all legacy (Forest Server) Quantum Processors available to the
        user.

        Translated from InstructionSetArchitecture.
      operationId: InternalListLegacyQuantumProcessors
      parameters:
        - description: Whether to hide specifications for qubits and edges marked as "dead"
          in: query
          name: mask_specifications_to_isa
          required: false
          schema:
            default: true
            description: Whether to hide specifications for qubits and edges marked as
              "dead"
            title: Mask Specifications to ISA
            type: boolean
        - in: query
          name: pageSize
          required: false
          schema:
            default: 10
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalListLegacyQuantumProcessorsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal List Legacy Quantum Processors
      tags:
        - legacy
        - quantumProcessors
  "/v1/internal/legacy/quantumProcessors/{quantumProcessorId}":
    delete:
      deprecated: true
      description: >-
        Delete a legacy (Forest Server) Quantum Processor.


        Deletes the underlying InstructionSetArchitecture from which this is derived.
      operationId: InternalDeleteLegacyQuantumProcessor
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Delete Legacy Quantum Processor
      tags:
        - internal
        - legacy
        - quantumProcessors
    get:
      deprecated: true
      description: |-
        Retrieve the legacy Forest Server configuration of a quantum processor.

        Derived from the stored InstructionSetArchitecture.
      operationId: InternalGetLegacyQuantumProcessor
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
        - description: Whether to hide specifications for qubits and edges marked as "dead"
          in: query
          name: mask_specifications_to_isa
          required: false
          schema:
            default: true
            description: Whether to hide specifications for qubits and edges marked as
              "dead"
            title: Mask Specifications to ISA
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyQuantumProcessor"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Get Legacy Quantum Processor
      tags:
        - legacy
        - quantumProcessors
    patch:
      deprecated: true
      description: Patch an existing LegacyQuantumProcessor.
      operationId: InternalUpdateLegacyQuantumProcessor
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalUpdateLegacyQuantumProcessorRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyQuantumProcessor"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Update Legacy Quantum Processor
      tags:
        - internal
        - legacy
        - quantumProcessors
    put:
      deprecated: true
      description: Create or replace the legacy Forest Server configuration of a device.
      operationId: InternalPutLegacyQuantumProcessor
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
        - description: If set, the server will interpret the LegacyDevice as being of the
            associated architecture layout.If omitted, the server will attempt
            to deduce this by inspecting LegacyDevice name or qubit numbering.
          in: query
          name: architectureFamily
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/Family"
            description: If set, the server will interpret the LegacyDevice as being of the
              associated architecture layout.If omitted, the server will attempt
              to deduce this by inspecting LegacyDevice name or qubit numbering.
            title: Architecture Family
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalPutLegacyQuantumProcessorRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyQuantumProcessor"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Put Legacy Quantum Processor
      tags:
        - internal
        - legacy
        - quantumProcessors
  "/v1/internal/legacy/quantumProcessors/{quantumProcessorId}/deployedRack":
    delete:
      deprecated: true
      description: Delete the Deployed Rack for a Quantum Processor
      operationId: InternalDeleteLegacyDeployedRack
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Delete Legacy Deployed Rack
      tags:
        - internal
        - legacy
        - quantumProcessors
    get:
      deprecated: true
      description: Retrieve the Deployed Rack for a Quantum Processor.
      operationId: InternalGetLegacyDeployedRack
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
        - in: query
          name: mock
          required: false
          schema:
            default: false
            title: Mock
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployedRack"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Get Legacy Deployed Rack
      tags:
        - internal
        - legacy
        - quantumProcessors
    put:
      deprecated: true
      description: Create or update the Deployed Rack for a Quantum Processor.
      operationId: InternalPutLegacyDeployedRack
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalPutLegacyDeployedRackRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployedRack"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Put Legacy Deployed Rack
      tags:
        - internal
        - legacy
        - quantumProcessors
  "/v1/internal/quantumProcessors/{quantumProcessorId}":
    delete:
      description: >-
        Delete a quantum processor. This operation will ensure no dangling
        resources exist on

        the quantum processor.
      operationId: InternalDeleteQuantumProcessor
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Delete Quantum Processor
      tags:
        - internal
        - quantumProcessors
    put:
      description: Create or replace a Quantum Processor by ID.
      operationId: InternalPutQuantumProcessor
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalPutQuantumProcessorRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuantumProcessor"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Put Quantum Processor
      tags:
        - internal
        - quantumProcessors
  "/v1/internal/quantumProcessors/{quantumProcessorId}/accessors":
    put:
      description: Add/update a QuantumProcessorAccessor for the target QuantumProcessor.
      operationId: InternalPutQuantumProcessorAccessor
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalPutQuantumProcessorAccessorRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuantumProcessorAccessor"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Put Quantum Processor Accessor
      tags:
        - internal
        - quantumProcessors
  "/v1/internal/quantumProcessors/{quantumProcessorId}/accessors/{accessorId}":
    delete:
      description: >-
        Delete a quantum processor. This operation will ensure no dangling
        resources exist on

        the quantum processor.
      operationId: InternalDeleteQuantumProcessorAccessor
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
        - in: path
          name: accessorId
          required: true
          schema:
            title: Quantum Processor Accessor ID
            type: string
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Delete Quantum Processor Accessor
      tags:
        - internal
        - quantumProcessors
  "/v1/internal/quantumProcessors/{quantumProcessorId}/endpoints:getDefault":
    get:
      description: |-
        Retrieve the endpoint set as "default" for the given Quantum Processor.

        If no endpoint is set as the default, return "not found."
      operationId: InternalGetDefaultEndpoint
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalEndpoint"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Get Default Endpoint
      tags:
        - endpoints
        - internal
  "/v1/internal/quantumProcessors/{quantumProcessorId}/endpoints:setDefault":
    put:
      description: >-
        Set the default endpoint for a quantum processor to the provided value,
        or clear it if

        no value is sent.
      operationId: InternalSetDefaultEndpoint
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetDefaultEndpointRequest"
        required: true
      responses:
        "204":
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Set Default Endpoint
      tags:
        - endpoints
        - internal
  "/v1/internal/quantumProcessors/{quantumProcessorId}/instructionSetArchitecture":
    delete:
      description: Delete an InstuctionSetArchitecture.
      operationId: InternalDeleteInstructionSetArchitecture
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Delete Instruction Set Architecture
      tags:
        - internal
        - quantumProcessors
    put:
      description: >-
        Create or replace the InstructionSetArchitecture of an existing Quantum
        Processor.


        Returns an error if the Quantum Processor does not exist.
      operationId: InternalPutInstructionSetArchitecture
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutInstructionSetArchitectureRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstructionSetArchitecture"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Internal Put Instruction Set Architecture
      tags:
        - internal
        - quantumProcessors
  /v1/quantumProcessors:
    get:
      description: List all QuantumProcessors available to the user.
      operationId: ListQuantumProcessors
      parameters:
        - in: query
          name: pageSize
          required: false
          schema:
            default: 10
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListQuantumProcessorsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: List Quantum Processors
      tags:
        - quantumProcessors
  "/v1/quantumProcessors/{quantumProcessorId}":
    get:
      description: Retrieve a single QuantumProcessor by ID.
      operationId: GetQuantumProcessor
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuantumProcessor"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Get Quantum Processor
      tags:
        - quantumProcessors
  "/v1/quantumProcessors/{quantumProcessorId}/accessors":
    get:
      description: List all means of accessing a QuantumProcessor available to the user.
      operationId: ListQuantumProcessorAccessors
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
        - in: query
          name: pageSize
          required: false
          schema:
            default: 10
            title: Pagesize
            type: integer
        - in: query
          name: pageToken
          required: false
          schema:
            title: Pagetoken
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListQuantumProcessorAccessorsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: List Quantum Processor Accessors
      tags:
        - quantumProcessors
  "/v1/quantumProcessors/{quantumProcessorId}/endpoints:getDefault":
    get:
      description: |-
        Retrieve the endpoint set as "default" for the given Quantum Processor.

        If no endpoint is set as the default, return "not found."
      operationId: GetDefaultEndpoint
      parameters:
        - description: "Public identifier for a quantum processor [example: Aspen-1]"
          in: path
          name: quantumProcessorId
          required: true
          schema:
            description: "Public identifier for a quantum processor [example: Aspen-1]"
            title: Quantum Processor ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Endpoint"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Get Default Endpoint
      tags:
        - endpoints
  "/v1/quantumProcessors/{quantumProcessorId}/instructionSetArchitecture":
    get:
      description: Retrieve the Instruction Set Architecture of a QuantumProcessor by ID.
      operationId: GetInstructionSetArchitecture
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            title: Quantum Processor ID
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstructionSetArchitecture"
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Unprocessable Entity
      security:
        - JWTBearer: []
      summary: Get Instruction Set Architecture
      tags:
        - quantumProcessors
  /v1/auth:emailPasswordResetToken:
    post:
      description: Send a password reset link to the provided email address, if that
        email matches a registered user.
      operationId: AuthEmailPasswordResetToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthEmailPasswordResetTokenRequest"
      responses:
        "204":
          description: Request completed successfully.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      summary: Email Password Reset Token
      tags:
        - authentication
  /v1/auth:getUser:
    get:
      description: Retrieve the profile of the authenticated user.
      operationId: AuthGetUser
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The authenticated user could not be located within our records.
            Please contact support@rigetti.com if you reach this error.
      security:
        - JWTBearer: []
      summary: Get User
      tags:
        - authentication
  /v1/auth:resetPassword:
    parameters: []
    post:
      description: Reset the password using the user's existing password. Note, this
        is an authenticated route.
      operationId: AuthResetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthResetPasswordRequest"
        required: true
      responses:
        "204":
          description: Password successfully reset.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      summary: Reset Password
      tags:
        - authentication
  /v1/auth:resetPasswordWithToken:
    parameters: []
    post:
      description: Complete the forgot password flow, resetting the new password in
        exchange for an emailed token.
      operationId: AuthResetPasswordWithToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthResetPasswordWithTokenRequest"
        required: true
      responses:
        "204":
          description: Password successfully reset.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: No account exists for the requested email.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      summary: Reset Password With Token
      tags:
        - authentication
  /v1/internal/billingOrganizations:
    get:
      description: List all billing organizations.
      operationId: InternalListBillingOrganizations
      parameters:
        - $ref: "#/components/parameters/pageTokenParam"
        - $ref: "#/components/parameters/pageSizeParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalListBillingOrganizationsResponse"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
    post:
      description: Create a billing organization, which is unique by name.
      operationId: InternalCreateBillingOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillingOrganizationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingOrganization"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: A conflicting billing organization exists.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
  "/v1/internal/billingOrganizations/{billingOrganizationId}":
    get:
      description: Get a billing organization, which is unique by name.
      operationId: InternalGetBillingOrganization
      parameters:
        - in: path
          name: billingOrganizationId
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingOrganization"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
    put:
      description: Update a billing organization, which is unique by name.
      operationId: InternalPutBillingOrganization
      parameters:
        - in: path
          name: billingOrganizationId
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBillingOrganizationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingOrganization"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: A conflicting billing organization exists.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
    delete:
      description: Delete a billing organization, which also deletes all account
        associations.
      operationId: InternalDeleteBillingOrganization
      parameters:
        - in: path
          name: billingOrganizationId
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingOrganization"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Organization with associated accounts cannot be deleted - delete
            all existing associations first.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
  "/v1/internal/billingOrganizations/{billingOrganizationId}/accounts":
    get:
      description: List all accounts related to this billing organization.
      operationId: InternalListBillingOrganizationAccounts
      parameters:
        - in: path
          name: billingOrganizationId
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/pageTokenParam"
        - $ref: "#/components/parameters/pageSizeParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalListBillingOrganizationAccountsResponse"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
    put:
      description: Create an association between accounts and this billing
        organization if one is not already present.
      operationId: InternalPutBillingOrganizationAccounts
      parameters:
        - in: path
          name: billingOrganizationId
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Accounts"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
    delete:
      description: Delete all associations between accounts and this billing organization.
      operationId: InternalDeleteBillingOrganizationAccounts
      parameters:
        - in: path
          name: billingOrganizationId
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Accounts"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
      tags:
        - account
      security:
        - JWTBearer: []
      x-internal: true
  "/v1/calendars/{quantumProcessorId}":
    get:
      description: Get calendar details for the requested quantum processor.
      operationId: GetQuantumProcessorCalendar
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuantumProcessorCalendar"
          description: Request completed successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The requested quantum processor does not exist.
      summary: Get Quantum Processor Calendar
      tags:
        - reservations
      security:
        - JWTBearer: []
  /v1/clientApplications:
    get:
      description: List supported clients of Rigetti system components along with
        their latest and minimum supported versions.
      operationId: ListClientApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClientApplicationsResponse"
          description: Request completed successfully.
      summary: List Client Applications
      tags:
        - clientApplications
    parameters: []
  "/v1/clientApplications/{clientApplicationName}":
    get:
      description: Get details of a specific Rigetti system component along with its
        latest and minimum supported versions.
      operationId: GetClientApplication
      parameters:
        - in: path
          name: clientApplicationName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientApplication"
          description: Request completed successfully.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The requested client application does not exist.
      summary: Get Client Application
      tags:
        - clientApplications
  /v1/clientApplications:check:
    post:
      description: Check the requested client application version against the latest
        and minimum version.
      operationId: CheckClientApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckClientApplicationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckClientApplicationResponse"
          description: Successfully checked Forest versions.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Requested component does not exist.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      summary: Check Client Application
      tags:
        - clientApplications
  "/v1/groups/{groupName}/balance":
    get:
      description: Retrieve the balance of the requested QCS group account.
      operationId: GetGroupBalance
      parameters:
        - description: URL encoded name of group for which to retrieve account balance.
          in: path
          name: groupName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalance"
          description: Request completed successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: QCS group account does not exist.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      summary: Get Group Balance
      tags:
        - account
    put:
      description: Update the balance of the requested QCS group account.
      operationId: PutGroupBalance
      parameters:
        - description: URL encoded name of group for which to retrieve account balance.
          in: path
          name: groupName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupAccountBalanceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalance"
          description: Request completed successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client not authorized to complete request.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: QCS group account does not exist.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      summary: Update Group Balance
      tags:
        - account
      x-internal: true
  "/v1/groups/{groupName}/billingCustomer":
    get:
      description: Retrieve billing customer for a QCS group account.
      operationId: GetGroupBillingCustomer
      parameters:
        - description: URL-encoded name of group.
          in: path
          name: groupName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingCustomer"
          description: Billing customer retrieved successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client is not authorized to view account billing customer.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Group billing customer does not exist.
      security:
        - JWTBearer: []
      tags:
        - account
  "/v1/groups/{groupName}/billingInvoices":
    get:
      description: Retrieve billing invoices for a QCS group account.
      operationId: ListGroupBillingInvoices
      parameters:
        - description: URL-encoded name of group.
          in: path
          name: groupName
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/pageTokenParam"
        - $ref: "#/components/parameters/pageSizeParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountBillingInvoicesResponse"
          description: Billing invoices retrieved successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client is not authorized to view group billing invoices.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Group billing customer does not exist.
      security:
        - JWTBearer: []
      tags:
        - account
  "/v1/groups/{groupName}/billingInvoices/{billingInvoiceId}/lines":
    get:
      description: Retrieve billing invoice lines for a QCS group account's invoice.
      operationId: ListGroupBillingInvoiceLines
      parameters:
        - description: URL-encoded name of group.
          in: path
          name: groupName
          required: true
          schema:
            type: string
        - description: URL-encoded billing invoice id.
          in: path
          name: billingInvoiceId
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/pageTokenParam"
        - $ref: "#/components/parameters/pageSizeParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountBillingInvoiceLinesResponse"
          description: Billing invoice lines retrieved successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client is not authorized to view group billing invoice lines.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Group billing customer or invoice does not exist.
      security:
        - JWTBearer: []
      tags:
        - account
  "/v1/groups/{groupName}/billingInvoices:getUpcoming":
    get:
      description: Retrieve upcoming invoice for QCS group billing customer.
      operationId: GetGroupUpcomingBillingInvoice
      parameters:
        - description: URL-encoded name of group.
          in: path
          name: groupName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingUpcomingInvoice"
          description: Billing invoice retrieved successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client is not authorized to view group billing invoice.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Group billing customer or invoice does not exist.
      security:
        - JWTBearer: []
      tags:
        - account
  "/v1/groups/{groupName}/billingInvoices:listUpcomingLines":
    get:
      description: List invoice lines for QCS group billing customer upcoming invoice.
      operationId: ListGroupUpcomingBillingInvoiceLines
      parameters:
        - description: URL-encoded name of group.
          in: path
          name: groupName
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/pageTokenParam"
        - $ref: "#/components/parameters/pageSizeParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountBillingInvoiceLinesResponse"
          description: Billing invoice lines retrieved successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Client is not authorized to view group billing invoice lines.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Group billing customer or invoice does not exist.
      security:
        - JWTBearer: []
      tags:
        - account
  "/v1/groups/{groupName}/reservations":
    get:
      description: |
        List existing reservations for the requested group.

        Available filter fields include:

        * `startTime` - timestamp
        * `endTime` - timestamp
        * `createdTime` - timestamp
        * `price` - integer
        * `quantumProcessorId` - string

        Available order fields include:

        * `startTime` - timestamp
        * `endTime` - timestamp
        * `createdTime` - timestamp
        * `price` - integer
      operationId: ListGroupReservations
      parameters:
        - description: URL encoded name of group for which to retrieve reservations.
          in: path
          name: groupName
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/filterParam"
        - $ref: "#/components/parameters/orderParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageTokenParam"
        - $ref: "#/components/parameters/showDeleted"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReservationsResponse"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      summary: List Group Reservations
      tags:
        - reservations
  "/v1/groups/{groupName}/users":
    get:
      description: List users belonging to a group. Note, group membership may take
        several minutes to update within our identity provider. After adding or
        removing a user to or from a group, please allow up to 60 minutes for
        changes to be reflected.
      operationId: ListGroupUsers
      parameters:
        - description: URL encoded name of group for which to retrieve users.
          in: path
          name: groupName
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageTokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGroupUsersResponse"
          description: Group users successfully retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The requested group does not exist.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      summary: List users belonging to a group
      tags:
        - account
  /v1/groups:addUser:
    post:
      description: Add a user to a group. Note, group membership may take several
        minutes to update within our identity provider. After adding a user to a
        group, please allow up to 60 minutes for changes to be reflected.
      operationId: AddGroupUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddGroupUserRequest"
        required: true
      responses:
        "204":
          description: User successfully added to group.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Group or user does not exist.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      summary: Add user to a group
      tags:
        - account
  /v1/groups:removeUser:
    post:
      description: Remove a user from a group. Note, group membership may take several
        minutes to update within our identity provider. After removing a user
        from a group, please allow up to 60 minutes for changes to be reflected.
      operationId: RemoveGroupUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveGroupUserRequest"
        required: true
      responses:
        "204":
          description: User successfully removed from group.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Group does not exist.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed, possibly because the user does not
            belong to the group.
      security:
        - JWTBearer: []
      summary: Remove user from a group.
      tags:
        - account
  "/v1/internal/billingPrices/{billingPriceId}":
    get:
      description: Get a product billing price, which specifies a per-unit price for a
        product/specific mode of execution.
      operationId: InternalGetProductBillingPrice
      parameters:
        - description: The billing price id.
          in: path
          name: billingPriceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingPrice"
          description: Successfully found `BillingPrice`.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized to get `BillingPrice`.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      x-internal: true
    patch:
      operationId: InternalUpdateProductBillingPrice
      parameters:
        - description: The billing price id.
          in: path
          name: billingPriceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalUpdateProductBillingPriceRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingPrice"
          description: |
            `BillingPrice` updated successfully.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized to update `BillingPrice`.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed.
      security:
        - JWTBearer: []
      x-internal: true
  "/v1/internal/calendars/{quantumProcessorId}":
    get:
      description: Get calendar details for the requested quantum processor, for
        internal users.
      operationId: InternalGetQuantumProcessorCalendar
      parameters:
        - in: path
          name: quantumProcessorId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalQuantumProcessorCalendar"
          description: Request completed successfully.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The requested quantum processor does not exist, or does not have
            calendar information.
      summary: Internal Get Quantum Processor Calendar
      tags:
        - reservations
      security:
        - JWTBearer: []
      x-internal: true
  /v1/internal/eventBillingPrices:
    get:
      description: >
        List event billing prices.


        Available filter fields include:


        * `accountType` - string, "group" or "user"

        * `accountId` - string

        * `product` - string, "qpuJobCompletion", "qpuJobTime" or "reservationCreation"

        * `quantumProcessorId` - string

        * `billingPriceId` - string


        Available order fields include:


        * `accountType` - string

        * `accountId` - string

        * `product` - string

        * `quantumProcessorId` - string

        * `createdTime` - timestamp

        * `deletedTime` - timestamp
      operationId: InternalListEventBillingPrices
      parameters:
        - $ref: "#/components/parameters/filterParam"
        - $ref: "#/components/parameters/orderParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageTokenParam"
        - $ref: "#/components/parameters/showDeleted"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventBillingPricesResponse"
          description: Request completed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Invalid query parameters. See response for details.
      security:
        - JWTBearer: []
      summary: Internal List Event Billing Prices
      tags:
        - account
      x-internal: true
    post:
      description: Create an event billing price. This will return a 409 response code
        if an event billing price for the same event, quantum processor, and
        account scope already exists. Otherwise, it will create a new event
        billing price. This will also set the Stripe price in the server cache.
      operationId: InternalCreateEventBillingPrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalCreateEventBillingPriceRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventBillingPrice"
          description: Event billing price successfully created.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: User not authorized to create event billing prices.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: An `EventBillingPrice` with the requested scope already exists.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request validation failed. See response for details.
      security:
        - JWTBearer: []
      summary: Internal Create Event Billing Price
      tags:
        - account
      x-internal: true
  "/v1/internal/eventBillingPrices/{eventBillingPriceId}":
    delete:
      description: Delete an event billing price.
      operationId: InternalDeleteEventBillingPrice
      parameters:
        - in: path
          name: eventBillingPriceId
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventBillingPrice"
          description: Event billing price successfully deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: User not authorized to delete the requested event billing price.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The requested event billing price does not exist.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Event billing price is a default configuration that cannot be
            deleted.
      security:
        - JWTBearer: []
      summary: Internal Delete Event Billing Price
      tags:
        - account
      x-internal: true
    get:
      description: Get an event billing price, which is used to associate a price with
        (optionally) a specific account and/or quantum processor.
      operationId: InternalGetEventBillingPrice
      parameters:
        - in: path
          name: eventBillingPriceId
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventBillingPrice"
          description: Event billing price successfully found.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Request authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: User not authorized to get the requested event billing price.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The requested event billing price does not exist.
      security:
        - JWTBearer: []
      summary: Internal Get Event Billing Price
      tags:
        - account
      x-internal: true
    patch:
      description: Update an event billing price. This will also set the Stripe price
        in the server cache.
      operationId: InternalUpdateEventBillingPrice
      parameters:
        - in: path
          name: eventBillingPriceId
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalUpdateEventBillingPriceRequest"
        required: true
[...]
