[package]
name = "qcs-api-client-grpc"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
qcs-api-client-common = { path = "../qcs-api-client-common", features = ["grpc"] }
pbjson = "0.4.0"
prost = "0.11.0"
serde = "1.0"
tonic = "0.8.0"
pbjson-types = "0.4.0"

[build-dependencies]
tonic-build = "0.8.0"
pbjson-build = "0.4.0"
prost-build = "0.11.1"
