{{>partial_header}}

use reqwest;

#[derive(Debug, Clone)]
pub struct Configuration {
    pub base_path: String,
    pub client: reqwest::Client,
    pub qcs_config: crate::common::ClientConfiguration,
}

pub type BasicAuth = (String, Option<String>);

#[derive(Debug, Clone)]
pub struct ApiKey {
    pub prefix: Option<String>,
    pub key: String,
}

impl Configuration {
    pub async fn new() -> Result<Self, crate::common::configuration::LoadError> {
        crate::common::ClientConfiguration::load()
            .await
            .map(Self::with_qcs_config)
    }

    pub fn with_qcs_config(qcs_config: crate::common::ClientConfiguration) -> Configuration {
        let client = reqwest::Client::builder()
            .user_agent("QCS OpenAPI Client (Rust)/{{{version}}}")
            .build()
            .expect("failed to create HTTP client");
        Self {
            base_path: "{{{basePath}}}".to_owned(),
            qcs_config,
            client,
        }
    }
}
